# Setup pyenv
if [ -d "{{ pyenv_dir | replace('~', '$HOME') }}" ]; then
  export PYENV_ROOT="{{ pyenv_dir | replace('~', '$HOME') }}"
  export PATH="$PYENV_ROOT/bin:$PATH"
  which pyenv > /dev/null && eval "$(pyenv init -)"
fi
